*~
.nyc_output
coverage
node_modules/
node_modules.bk
.orientdb_history
dist
*png
!docs/*png
*gz
*zip
*tar
.vscode/
id_rsa*
out
external_data
jsdoc/
junit.xml
xunit.xml
.audit.json
TODO.txt
civic_problems.txt
config/generate_ensembl79_annotations.sh
drugbank.tmp.json
logging/
mocha.json
ncit_temp.json
setup_sample_server.js
target/
test_transaction.sql
doc/jsdoc_reference
doc/README.md
*.id_rsa.pub
logs
pm2_logs
errorLog-*
.~*
data/ligand_actions.json
*.log
tmp

# snakemake stuff
.snakemake
venv
snakemake_data
snakemake_logs
dag.svg
dag.png
